(
				"cargotypeextension.js",
				"cargotypestatic.js",
				"cargotypedynamic.js",
				"cargotypetradernet.js",
				"cargotypeauctions.js",
				"cargotypescavenger.js",
				"cargotypeopencontract.js",
				"cargotypepermits.js",
				"cargotyperegional.js",
				"cargotypefetch.js",
				"cargotypedefaultmarket.js",
				"Stations/cargotypestationhermit.js",
				"Stations/cargotypestationconstore.js",
				"Stations/cargotypestationsuperhub.js",
				"Stations/cargotypestationcasino.js",
				"Stations/cargotypestationcommies.js",
				"Stations/cargotypestationgrs.js",
				"Stations/cargotypestationrrs.js",
				"Stations/cargotypestationdictators.js",
				"Stations/cargotypestationspacebar.js",
				"Stations/cargotypestationgalnavy.js",
				"Stations/cargotypestationsalvage.js",
				"Stations/cargotypestationplanetfall.js",
				"Stations/cargotypestationkiotabio.js",	
				"Stations/cargotypestationkiotacomms.js",
				"Stations/cargotypestationkiotahabitat.js",
				"Stations/cargotypestationkiotamanufacturing.js",
				"Stations/cargotypestationkiotaresearch.js",
				"Stations/cargotypestationkiotasolar.js"

)
